body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Courgette', cursive;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75;
}

h1 {
  font-size: 66px;
  font-family: 'Gloria Hallelujah', cursive;
  color: #14698d;
  font-weight: 900;
  margin: 0;
  margin-top: 300px;
}

p {
  color: #14698d;
  font-size: 28px;
  margin: 0 0 24px 0;
  opacity: 0.95;
}

p1 {
  font-size: 20px;
  margin: 0 0 26px 0;

  color: #f52206;
}

a {
  color: #fff;
  outline: 0;
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #55db60;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bg {
  animation: bg 80s linear infinite reverse;
  background: url("https://dyn1.heritagestatic.com/lf?set=path%5B1%2F5%2F6%2F0%2F1%2F15601149%5D&call=url%5Bfile%3Aproduct.chain%5D") repeat-x bottom left;
  height: 100%;
  position: absolute;
  background-size: 1500px;
  width: 4500px;
  opacity: 0.2;
}

.box {
   opacity: 0.2;
  animation: show 1s ease-in-out 1s forwards;
  text-align: center;
  width: 30%;
  background-color: rgb(190, 229, 195);
 

}


.nav {
  display: flex;
  justify-content: center;
}

.nav-item {
  transition: all 0.5s ease-in-out;
  
  width: 62px;
  height: 62px;
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item:hover {
  cursor:progress;
  background-color: rgba(52, 54, 180, 0.175);
}

.nav-item a {
  font-size: 28px;
  color: #2b7494
}

@keyframes show {
  0% {
    margin-top: -100px;
    opacity: 0;
  }
  100% {
    margin-top:-400px;
    opacity: 1;
  }
}

@keyframes bg {
  0% {
    left: 0;
  }
  100% {
    left: -1500px;
  }
}

